@use "../../../../variables" as v;

.sectionMission {
  text-align: center;
  width: inherit;
  padding: 3.875rem 1.625rem;

  background-color: v.$color-primary;
  color: #fff;

  h2 {
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 18px;
  }

  .listCards {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}

@media (min-width: v.$breakpoint-laptop) {
  .sectionMission {
    text-align: start;

    .listCards {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
