@use "../../variables" as v;

.card {
  border: 1px solid #000;
  border-radius: 0.75rem;
  padding: 2rem 1rem;
  width: 100%;

  text-align: center;

  h3 {
    margin-bottom: 2rem;
    color: v.$color-primary;
    font-weight: 700;
  }

  &:hover {
    border: 1px solid v.$color-primary;
  }
}

@media (min-width: v.$breakpoint-laptop) {
  .card {
    padding: 3rem 1rem;

    p {
      font-size: 18px !important;
    }
  }
}
