@use "../../variables" as v;

main {
  section {
    text-align: center;
    padding: 3rem 5dvw;

    h1 {
      margin-bottom: 2rem;
    }
  }
}

.listCards {
  margin-top: 4rem;
  width: 90%;
  margin-inline: auto;

  display: flex;
  flex-direction: column;

  gap: 3rem;

  & > article {
    padding: 1.75rem 1rem;
    h3 {
      color: #000;
      margin-bottom: 0.75rem;
    }
  }
}

@media (min-width: v.$breakpoint-laptop) {
  .listCards {
    flex-direction: row;
    justify-content: space-around;
  }
}
