@use "../../variables" as v;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100dvh;
  width: 100dvw;
  background-color: rgba($color: #000000, $alpha: 0.9);
  overflow-y: auto;

  color: #fff;

  .closeModal {
    // position: relative;
    position: absolute;

    top: 2rem;
    right: 2rem;
    font-size: 24px;
  }

  nav {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    gap: 1rem;

    div {
      a {
        font-size: 24px !important;
        color: #fff;

        &:hover {
          color: v.$color-primary;
        }
      }
    }
  }
}
