@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* ======COLORS================= */
$color-primary: #00745a;
$color-primary-hover: #015845;
$background-light: #f8f8f8;
$background-dark: #0b0b0b;
$background-badge: #e5e5e5;

/* FONT FAMILY */
$font-primary: "Inter", sans-serif;

/* ==========BREAKING POINTS ================= */
$breakpoint-tablet: 480px;
$breakpoint-laptop: 768px;
