@use "variables" as v;
@use "reset";

html,
body {
  width: 100%;
  height: 100dvh;
  -webkit-font-smoothing: antialiased;
  font-family: v.$font-primary;
  scroll-behavior: smooth;
}

h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
  letter-spacing: 0%;

  @media (min-width: v.$breakpoint-tablet) {
    font-size: 58px;
    line-height: 62px;
  }

  @media (min-width: v.$breakpoint-laptop) {
    // font-size: 68px;
    // line-height: 72px;
  }
}

h2 {
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 60px;

  @media (min-width: v.$breakpoint-tablet) {
    font-size: 50px;
  }

  @media (min-width: v.$breakpoint-laptop) {
    // font-size: 60px;
  }
}

h3 {
  font-weight: 500;
  font-style: Bold;
  font-size: 26px;
  line-height: 1.1;

  @media (min-width: v.$breakpoint-tablet) {
    font-size: 30px;
  }
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;

  @media (min-width: v.$breakpoint-tablet) {
    font-size: 22px;
    line-height: 1.6;
  }

  // @media (min-width: v.$breakpoint-laptop) {
  //   font-size: 24px;
  //   line-height: 38px;
  // }
}

a {
  font-weight: 600;
  font-size: 1rem;
  line-height: normal;
  color: #000;
}
